# .gitignore

# ignore node_modules
node_modules/

# ignore build artifacts
build/
dist/

# ignore IDE files
.idea/
.vscode/

# ignore Docker stuff
docker-compose.yml
docker-compose.yaml
docker/

# ignore Python cache
__pycache__/

# ignore virtualenv
venv/

# ignore Ruff cache
.ruffcache/

# ignore Ruff config
.ruffconfig